<%- include('./partials/header') %>

<img src="/images/good-trax-logo-bigger.svg" class="img-fluid" alt="Good Trax Logo">

<div class="text-center">
    <h2 class="fw-bold fs-3">Track music you're loving</h2>
    <h2 class="fw-bold fs-3">Discover your next obsession</h2>
    <a href="/music" class="btn btn-primary">Get Started</a>
</div>

<%- include('./partials/footer') %>

