<%- include('../partials/header') %>

<h2>Home Page</h2>
<!-- TODO: create logo img and add here -->

<form id="search-form" action="/music" method="GET">
    <label>Search by artist or album</label>
    <input type="text" name="music">
    <!-- TODO: add functionality to ignore whitespace/character casing... see RegEx -->
    <input type="submit" value="Search">
</form>

<%- include('../partials/footer') %>
