<%- include('../partials/header') %>

<h2>PROFILE COMING SOON</h2>


<div>
    <h2>My Collections</h2>
    <a href="#">Best of 2024</a> 
    <!-- TODO: this could be a dropdown with the albums added? -->
</div>

<!-- TODO:  -->

<%- include('../partials/footer') %>
